# OSX
.DS_Store

# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/

#VsCode
.vscode

package-lock.json

#___Hide secrets___
secret
private
secret/secret_keys.properties